#login {
    display: flex;
    justify-content: center;
}

.login1{
    width: 60%;
    margin: auto;
    margin-top: 30vh;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    width: 50%;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#loginImg>img{
    height: 92.8vh;
}

@media screen and (max-width: 1000px) {

    #loginImg{
        display: none;
    }
    #loginForm{
        width: 100%;
    }
    .login1{
        width: 90%;
        background-color: white;
    }
    #login{
        background-image: url('https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80');
        object-fit: cover;
        height: 92vh;
    }



}